[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pandas = "*"
pydantic = "*"
Flask = "==1.1.1"
Flask-Cors = "==3.0.7"
[dev-packages]

[requires]
python_version = "3.9"
